.square{
height: 50px;
width: 50px;
border: 1px solid rgb(188, 24, 24);
text-align: center;
line-height: 50px;
font-size: 1.3em;
}
.board{
  width: 156px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
li{
  background-color: antiquewhite;
  width: fit-content;
  border: 1px solid gold;
  box-shadow: 1px 3px 3px red;
  margin: 5px 10px;
  padding: 0 5px;

}
li:hover{
  background-color: rgb(117, 154, 234);
}